@import "_resetstyle.scss";
@import "_fonts.scss";

@import "_mixins.scss";
@import "_samples.scss";



body {
    font-family: 'Circe';
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    color: black;
    background: linear-gradient(180deg, #C9C9C9 20%, #F1F2F3 50%, #F1F2F3 100%) fixed;
}
img {
    max-width: 100%;
    height: auto;
}

._wrapper {
    max-width: 1360px;
    padding: 0 15px;
    margin: 0 auto;
}

@import "_header.scss";
@import "_home.scss";
@import "_footer.scss";

@import "_news.scss";

// Video styles start

.main-top_video {
    margin-bottom: 25px;
}
.main-video-container {
    grid-template-columns: 1fr;
}
.video {
    &__wrapper {
    }
    &__post {
    }
}
.video-post {
    margin-bottom: 25px;
    &:last-child {
        margin-bottom: 0;
        @media screen and (max-width: 550px) {
            margin-bottom: 25px;
        }
    }
    &__container {
        &:hover {
            .video-post__arrow {
                background-color: rgba(250, 250, 250, .9);
            }
            .video-post__title {
                color: $redcolor;
            }
        }
    }
    &__wrap {
        cursor: pointer;
        position: relative;
        width: 100%;
        padding-top: 45.11%;
        background-color: $footercolor;
    }
    &__arrow {
        // &::before {
            // content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            @include adaptive-value-fromMax-toMin(width, 100, 50);
            @include adaptive-value-fromMax-toMin(height, 100, 50);
            background: url(../img/svg/arrow-video.svg) no-repeat center;
            background-size: 50%;
            background-color: rgba(250, 250, 250, .5);
            transition: background-color .5s;
            // z-index: 1; 
        // }
    }
    &__item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__title-block {
        background-color: $textwhite;
        @include adaptive-value-fromMax-to550(padding-left, 25, 10);
        @include adaptive-value-fromMax-to550(padding-right, 25, 10);
        @include adaptive-value-fromMax-to550(padding-top, 30, 5);
        @include adaptive-value-fromMax-to550(padding-bottom, 11, 5);
        flex-basis: 100%;
        @media screen and (max-width: 550px) {
            padding: 15px;
        }
    }
    &__subtitle {
        @include adaptive-value-fromMax-to550(margin-bottom, 20, 5);
        color: $textsubtitle;
        @extend %subtitleminiblock;
        @media screen and (max-width: 550px) {
            margin-bottom: 15px;
            font-size: 10px;
            line-height: 100%;
        }
    }
    &__title {
        @include adaptive-value-fromMax-to550(margin-bottom, 18, 5);
        @extend %titleblock;
        @include adaptive-value-fromMax-to550(font-size, 25, 12);
        color: $textblack;
        transition: .5s;
        @media screen and (max-width: 550px) {
            margin-bottom: 15px;
            font-size: 17px;
            line-height: 100%;
        }
    }
    &__annotation {
        @extend %subtitleblock;
        color: $textblack;
        @include adaptive-value-fromMax-toMin(margin-bottom, 30, 10);
        @media screen and (max-width: 550px) {
            font-size: 12px;
            line-height: 100%;
        }
    }
}

.topic-match {
    display: none;
}


// Video styles end